<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loopcongo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/loop"
        android:label="@string/app_name"
        android:roundIcon="@drawable/loop"
        android:supportsRtl="true"
        android:theme="@style/Theme.Loopcongo"
        tools:targetApi="31">
        <activity
            android:name=".UserImmobilierConnectedActivity"
            android:exported="false" />
        <activity
            android:name=".DetailImmobilierActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PlanAbonnementActivity"
            android:exported="false" />
        <activity
            android:name=".SubscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".DetailCommandeActivity"
            android:exported="false"
            android:parentActivityName=".CommandesActivity" />
        <activity
            android:name=".CommandesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfilePrestataireActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProfilePrestataireConnectedActivity"
            android:exported="false"
            android:parentActivityName=".PrestataireActivity" />
        <activity
            android:name=".DetailPrestationActivity"
            android:exported="false"
            android:parentActivityName=".PrestataireActivity" />
        <activity
            android:name=".DetailOffrePrestationActivity"
            android:exported="false"
            android:parentActivityName=".PrestataireActivity"
            android:theme="@style/Theme.Loopcongo" />
        <activity
            android:name=".DetailArticleActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ProfileVendeurActivity"
            android:exported="false"
            android:parentActivityName=".PrestataireActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PrestataireActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ProfileUserConnectedActivity"
            android:exported="false" />
        <activity
            android:name=".TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>